body {
	margin: 0;
	justify-content: center;
	align-items: center;
	background: black;
	display: flex;
	padding: 0;
	margin: 0;
}

canvas {
	width: 100vw;
	height: 100vh;
	display: block;
}

@font-face {
	font-family: "8BitOperator";
	src: url("resources/gui/8bitoperator_jve.ttf");
}

#points {
	position: absolute;
	right: 2vw;
	top: 1vh;
	font-size: 3.5vw;
	font-family: "8BitOperator";
	letter-spacing: 0.35vw;
	color: green;
	user-select: none;
}

#health-bar {
	position: absolute;
	display: flex;
	left: 2vw;
	top: 2vh;
	width: 30vw;
	height: 5vh;
	padding: 0 0.25vw;
	align-items: center;
	outline: 0.2vw solid white;
	background-color: rgba(0, 0, 0, 0.4);
}

#health {
	width: 100%;
	height: 4vh;
	background-color: red;
}

#laser-bar {
	position: absolute;
	display: flex;
	right: 2vw;
	bottom: 2vh;
	width: 22.5vw;
	height: 5vh;
	padding: 0 0.25vw;
	align-items: center;
	justify-content: space-between;
	outline: 0.2vw solid white;
	background-color: rgba(0, 0, 0, 0.4);
}

.laser {
	width: 2vw;
	height: 4vh;
	background-color: blue;
}

.gui-box {
	position: absolute;
	width: 40vw;
	height: 40vh;
	background-color: rgba(255, 255, 255, 0.5);
	border-style: dashed;
	border-width: 0.5vw;
	border-color: black;
	padding: 0.5vw;
	text-align: center;
	vertical-align: middle;
	align-content: space-between;
}

.gui-text {
	padding: 1vh;
	font-family: "8BitOperator";
	font-size: 1.5vw;
	text-align: center;
	user-select: none;
}

.gui-title {
	padding-bottom: 2vh;
	font-family: "8BitOperator";
	font-size: 3vw;
	font-weight: bold;
	text-align: center;
	user-select: none;
}

.gui-button {
	position: absolute;
	width: 20vw;
	bottom: 2vh;
	margin-left: -10vw;
	padding: 2vh;
	border: 0.2vw solid black;
	background-color: rgb(100, 100, 100);
	font-family: "8BitOperator";
	font-size: 3vw;
	text-align: center;
	user-select: none;
}

.gui-button:hover {
	background-color: rgb(150, 150, 150);
}

.gui-button:active {
	background-color: rgb(50, 50, 50);
}

#start-game {
	z-index: 1;
}

#end-game {
	z-index: -1;
	opacity: 0;
}
